{% extends 'login.html' %}



{% block content %}
<div class="panel panel-default">
 <div class="panel-heading">
					<h2 class="panel-title">
						<span class="glyphicon glyphicon-log-in"></span> 
						Potwierdź swój adres mail
					</h2>
				</div>
  	<div class="panel-body">
  <form method="post">
  	<div class="form-group">
	<center>
    Prosimy o potwierdzenie adresu mail poprzez kliknięcie w link aktywacyjny.
	</center>
	</div>
	<center>

	</center>
  </form>
  </div>
  </div>
{% endblock %}