{% extends 'base_h.html' %}

{% block title %}{% endblock %}

{% block content %}
			{% load staticfiles %}

  <div class="col-sm-6">
 <center>
  		<div class="panel panel-default" style="display: inline-block;  width: 400px;" >
				<div class="panel-heading">
					<h1 class="panel-title"><span class="glyphicon glyphicon-random"></span>  <strong>Zarządzanie użytkownikami</strong></h1>
				</div>
				<div class="list-group">
				 
				
				
				</div>
			</div>
			</center>
				 {% for us in users %}
			<center>
		
			  		<div class="panel panel-default" style="display: inline-block;" >
				<div class="panel-heading">
					<h1 class="panel-title"><a href="{% url 'userdetails' %}?w={{ us.id }}"><b>{{ us.first_name }} {{ us.second_name }}</b></a></h1>
				</div>
				<div class="panel-body"><center>
				 <p class="pull-right"><span class="label label-default"></span>
				 </center>
				</div>
			
			</div>
				
			</center>
		 {% endfor %}
</div>

{% endblock %}