{% extends 'base_h.html' %}

{% block title %}{% endblock %}

{% block content %}
			{% load staticfiles %}

  <div class="col-sm-6">
 <center>
  		<div class="panel panel-default" style="display: inline-block;  width: 400px;" >
				<div class="panel-heading">
					<h1 class="panel-title"><span class="glyphicon glyphicon-random"></span>  <strong>{{ us.first_name }} {{ us.second_name }}</strong></h1>
				</div>
				<div class="list-group">
				 
				
				
				</div>
			</div>
			</center>
			
							 
			<center>
		
			  		<div class="panel panel-default" style="display: inline-block;" >
				<div class="panel-heading">
					<h1 class="panel-title">Historia wiadomości: </a></h1>
				</div>
				{% for m in mess %}
							<div class="panel-body"><center>
							 				 {% if m.read == 0 %}
				 <p><b>Nieprzeczytana:</b></p>
				 {% endif %}
				 <p><span class="label label-default"><font size="2">{{ m.body }}</font></span></p>
				 <p>{{ m.date|date:"d.m.Y - H:i:s" }}</p>

				 </center>
				</div>
				 {% endfor %}
			</div>
				
			</center>
		
			
</div>

{% endblock %}